@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

//Import the custom palette
@import '_palette.scss';
  
$app-primary: mat-palette($md-primary,800,A100);
$app-accent:  mat-palette($md-primary,A100,800);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

//Now create a secondary theme for our secondary color

$app-second-primary: mat-palette($md-secondary,500,A100);
$app-second-accent:  mat-palette($md-secondary,A100,500);
$app-second-theme:   mat-light-theme($app-second-primary, $app-second-accent, $app-warn);

.secondary-theme{
    @include angular-material-theme($app-second-theme);
}